################################### Hugo General Configuration ############################

baseURL = "https://examplesite.com/"
title = "Hugo - Preact"
theme = "hugo-preact-theme"
summarylength = "20" # post excert
googleAnalytics = "" # Ex: UA-123-45

defaultContentLanguage = "fr"
# disableLanguages = ["en"] # disable language from here

#################################### Plugins ##########################################

[[module.mounts]]
source = "static/images"
target = "static/images"

# Node modules mounts
[[module.mounts]]
source = "node_modules/bootstrap/dist/css/bootstrap.min.css"
target = "static/plugins/bootstrap/bootstrap.min.css"

[[module.mounts]]
source = "node_modules/animate.css/animate.min.css"
target = "static/plugins/animate/animate.min.css"

[[module.mounts]]
source = "node_modules/@fortawesome/fontawesome-free/css/all.min.css"
target = "static/plugins/fontawesome/fontawesome.min.css"
[[module.mounts]]
source = "node_modules/@fortawesome/fontawesome-free/webfonts"
target = "static/plugins/webfonts"

# CSS Plugins
[[params.plugins.css]]
link = "https://fonts.googleapis.com/css?family=Droid+Serif:400|Josefin+Sans:300,400,600,700"
[[params.plugins.css]]
link = "plugins/bootstrap/bootstrap.min.css"
[[params.plugins.css]]
link = "plugins/fontawesome/fontawesome.min.css"
[[params.plugins.css]]
link = "plugins/animate/animate.min.css"

# JS Plugins
# [[params.plugins.js]]
# link = "plugins/bootstrap/bootstrap.min.js"

###################################### Navigation / Menu ######################################

[[menu.main]]
name = "Home"
URL = "/"
weight = 1

[[menu.main]]
name = "Static"
URL = "static"
weight = 2

[[menu.main]]
name = "Dynamic"
URL = "dynamic"
weight = 3

# footer menu
[[menu.footer]]
name = "Home"
URL = "/"
weight = 1

[[menu.footer]]
name = "Static"
URL = "static"
weight = 2

[[menu.footer]]
name = "Dynamic"
URL = "dynamic"
weight = 3


########################### Default parameters ##########################
[params]
logo = "images/preact.png"
logo_width = "100px"
description = "Hugo Preact Theme"
author = "Florian Dambrine"

[params.maintenance]
enable = false
title = "Maintenance mode"
message = "Coming back online soon..."
image = "images/preact.png"

################################### Languages #####################################

[params.language.dropdown]
enabled = false

[Languages.en]
languageName = "En"
languageCode = "en-us"
contentDir = "content/english"
weight = 1
copyright = "Made with love ❤️"

[Languages.fr]
languageName = "Fr"
languageCode = "fr-fr"
contentDir = "content/french"
weight = 2
copyright = "Fait avec amour ❤️"

################################### Security configs #####################################

removePathAccents = true

[markup.goldmark.renderer]
unsafe = true

[security]
  enableInlineShortcodes = false
  [security.exec]
    allow = ['^dart-sass-embedded$', '^go$', '^npx$', '^postcss$', '^babel']
    osEnv = ['(?i)^(PATH|PATHEXT|APPDATA|TMP|TEMP|TERM)$']

  [security.funcs]
    getenv = ['^HUGO_']

  [security.http]
    methods = ['(?i)GET|POST']
    urls = ['.*']

################################### Build configs #####################################

[build]
  noJSConfigInAssets = true
  useResourceCacheWhen = 'fallback'
  writeStats = false
