// Variables
$primary-font: 'Bebas Neue', cursive;
// $secondary-font: 'Roboto Condensed', serif;
$secondary-font: 'Poppins', serif;

$dark: #3c3c3c;
$primary-color: #ffe761;

$icon-font: 'themefisher-font' !important;
