<!--maintenance-->
<section class="maintenance">

  <div class="container">
    <div class="row">
        <div class="col">
          <div class="text-center">
            <h1 class="p-5">
              {{ site.Params.maintenance.title }}
              <blockquote class="blockquote">
                <p class="mb-0">
                  {{ site.Params.maintenance.message }}
                </p>
              </blockquote>
            </h1>
            <img src="{{ site.Params.maintenance.image | relURL }}" class="img-responsive center-block" height="60%" width="60%">
            <hr />
            <h3>
              <small class="text-muted">{{ site.Title }}</small>
            </h3>
          </div>
        </div>
    </div>
</div>
<!--/maintenance-->
